/* 自定义字体 */

@import url('https://fonts.loli.net/css2?family=ABeeZee:ital@0;1&family=Emilys+Candy&family=Noto+Sans+SC:wght@500;700;900&family=Noto+Serif+SC:wght@400;600;700;900&display=swap%27');
body {
    font-family: -apple-system, BlinkMacSystemFont, 'ABeeZee', 'Noto Serif SC', Lato, Roboto, 'Microsoft YaHei', 'PingFang SC', serif;
    font-weight: 500;
}
#page-header #site-title {
    font-family: -apple-system, BlinkMacSystemFont, 'ABeeZee', 'Noto Sans SC', Lato, Roboto, 'Microsoft YaHei', 'PingFang SC', sans-serif;
}
#article-container p, #article-container li {
    font-size: 18px;
    line-height: 1.8;
    font-weight: 500;}
#post-info {
    font-family: -apple-system, BlinkMacSystemFont, 'ABeeZee', 'Noto Sans SC', Lato, Roboto, 'PingFang SC', 'Microsoft YaHei', sans-serif;
    font-weight: bold !important;}
#article-container.post-content h1, #article-container.post-content h2, #article-container.post-content h3, #article-container.post-content h4, #article-container.post-content h5, #article-container.post-content h6, #recent-posts > .recent-post-item >.recent-post-info > .article-title {
    font-family: -apple-system, BlinkMacSystemFont, 'ABeeZee', 'Noto Sans SC', 'Segoe UI', 'Helvetica Neue', Lato, Roboto, 'Microsoft YaHei', 'PingFang SC', sans-serif;
    font-weight: bold !important;
    font-display: swap;}
#article-container pre, #article-container code { font-weight: 400; }
.article-sort-item-title { font-size: 1.2em; }
.article-sort-title { font-family: -apple-system, BlinkMacSystemFont, 'ABeeZee', 'Noto Sans SC', Lato, Roboto, 'Microsoft YaHei', 'PingFang SC', sans-serif; font-size: 1.75em; }
.archive { font-weight: 700;}

/* 透明度 */
#page-header {
  background-color: #ffffff00;
  }
#page-header:before {
  opacity: 0
}
/* 首页文章卡片 */
#recent-posts > .recent-post-item{
  opacity: 0.9;
  }
/* 首页侧栏卡片 */
#aside-content .card-widget{background:rgba(255, 255, 255, 0.8);
  }
/* 文章页面正文背景 */
div#post{background: rgba(255, 255, 255, 0.9);
  }
/* 分页页面 */
div#page{background: rgba(255, 255, 255, 0.9);
  }
/* 归档页面 */
div#archive{background: rgba(255, 255, 255, 0.9);
  }
/* 标签页面 */
div#tag{background: rgba(255, 255, 255, 0.9);
  }
/* 分类页面 */
div#category{background: rgba(255, 255, 255, 0.9);
  }
[data-theme="dark"]  #aside-content .card-widget{
        background: rgba(0, 0, 0, 0.8);
    }
[data-theme="dark"]  div#post{
    background: rgba(0, 0, 0, 0.8);
    }
[data-theme="dark"]  div#page{
    background: rgba(0, 0, 0, 0.8);
    }
[data-theme="dark"]  div#archive{
    background: rgba(0, 0, 0, 0.8);
    }
[data-theme="dark"]  div#tag{
    background: rgba(0, 0, 0, 0.8);
    }
[data-theme="dark"]  div#category{
    background: rgba(0, 0, 0, 0.8);
    }
[data-theme='dark'] #web_bg:before, [data-theme='dark'] #footer:before {
    opacity: 0.3
}
[data-theme='dark'] #page-header:before {
    opacity: 0
}

/* 页脚透明 */
#footer{
  background: transparent!important;
}
/*夜间模式伪类遮罩层透明*/
[data-theme="dark"]  #footer::before{
      background: transparent!important;}
[data-theme="dark"]  #page-header::before{
    background: transparent!important;
    }
.history_slide {
    background: #12121200!important;}

/* 导航子菜单半透明 */
#nav .menus_items .menus_item .menus_item_child {
  background-color: rgba(255,255,255,0.7);}
[data-theme="dark"] #nav .menus_items .menus_item .menus_item_child {
  background-color: rgba(18,18,18,0.7);}

/* 滚动条优化 */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-track {
    background-color: rgba(7, 75, 19, 0.2);
    border-radius: 2em;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #00c4b6;
    background-image: -webkit-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.4) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.4) 50%,
      rgba(255, 255, 255, 0.4) 75%,
      transparent 75%,
      transparent
    );
    border-radius: 2em;
  }
  ::-webkit-scrollbar-corner {
    background-color: transparent;
  }
  ::-moz-selection {
    color: #fff;
    background-color: #ec29f3;
  }