/* 透明度 */
#page-header {
  background-color: #ffffff00;
  }
/* 首页文章卡片 */
#recent-posts > .recent-post-item{
  opacity: 0.9;
  }
/* 首页侧栏卡片 */
.card-widget{
background:rgba(255, 255, 255, 0.8);
  }
/* 文章页面正文背景 */
div#post{
background: rgba(255, 255, 255, 0.9);
  }
/* 分页页面 */
div#page{
background: rgba(255, 255, 255, 0.9);
  }
/* 归档页面 */
div#archive{
background: rgba(255, 255, 255, 0.9);
  }
/* 标签页面 */
div#tag{
background: rgba(255, 255, 255, 0.9);
  }
/* 分类页面 */
div#category{
background: rgba(255, 255, 255, 0.9);
  }

[data-theme="dark"]
  #aside-content .card-widget{
      background: rgba(0, 0, 0, 0.8);
    }
[data-theme="dark"]
  div#post{
    background: rgba(0, 0, 0, 0.8);
    }
[data-theme="dark"]
  div#page{
    background: rgba(0, 0, 0, 0.8);
    }
[data-theme="dark"] 
  div#archive{
    background: rgba(0, 0, 0, 0.8);
    }
[data-theme="dark"]
  div#tag{
    background: rgba(0, 0, 0, 0.8);
    }
[data-theme="dark"]
  div#category{
    background: rgba(0, 0, 0, 0.8);
    }
[data-theme='dark'] #web_bg:before, [data-theme='dark'] #footer:before {
    opacity: 0.3
}
[data-theme='dark'] #page-header:before {
    opacity: 0
}

/* 页脚透明 */
#footer{
  background: transparent!important;
}
/*夜间模式伪类遮罩层透明*/
[data-theme="dark"]
  #footer::before{
      background: transparent!important;
    }
[data-theme="dark"]
  #page-header::before{
    background: transparent!important;
    }

.history_slide {
  background: #12121200!important;
}

/* 滚动条优化 */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: rgba(7, 75, 19, 0.2);
    border-radius: 2em;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #00c4b6;
    background-image: -webkit-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.4) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.4) 50%,
      rgba(255, 255, 255, 0.4) 75%,
      transparent 75%,
      transparent
    );
    border-radius: 2em;
  }
  
  ::-webkit-scrollbar-corner {
    background-color: transparent;
  }
  
  ::-moz-selection {
    color: #fff;
    background-color: #ec29f3;
  }

/* Artitalk背景 */
#operare_artitalk .at_button, #artitalk_main .at_button {
    background: linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)) 0% 0% / cover, url("https://ae01.alicdn.com/kf/H18a4b998752a4ae68b8e85d432a5aef0l.png"), url("https://ae01.alicdn.com/kf/H21b5f6b8496141a1979a33666e1074d9x.jpg") 0px 0px
  }

#article-container {
    margin-bottom: 50px;
  }