@font-face {
  font-family: "iconfont"; /* Project id 2554028 */
  src: url('//at.alicdn.com/t/font_2554028_vqphrdsc2wd.woff2?t=1621257073738') format('woff2'),
       url('//at.alicdn.com/t/font_2554028_vqphrdsc2wd.woff?t=1621257073738') format('woff'),
       url('//at.alicdn.com/t/font_2554028_vqphrdsc2wd.ttf?t=1621257073738') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tv:before {
  content: "\e661";
}

