.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
_config.yml.bak
source/_data/
source/about/
source/links/
source/changelog/
source/messageboard/
*.bak
package-lock.json
scaffolds/
_config.yml