  {% if post.top %}
      <span class="post-meta-item">
        <span class="post-meta-item-icon">
          <i class="fas fa-thumbtack" style="color: #EB6D39"></i>
        </span>
        <font color=EB6D39>置顶</font>
      </span>
  {% endif %}